.choose__menyu{
    color: #fff;
    margin-left: 81px;
}

.img{
    position: static;
    object-fit: cover;
}

.choose__list{
    width: 520px;
}

.choose__item{
    display: flex;
    margin-top: 40px;
    padding: 5px;
    background-image: url(../images/item.png);
    color: black;
    margin-bottom: 90px;
}

.choose__img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 17px;
}

.choose__st{
    width: 67px;
    margin-left: 20px;
    margin-top: 15px;
}

.choose__word{
    text-align: center;
    margin-left: -60px;
    margin-top: 40px;
}

.choose__text{
    font-size: 22px;
    margin-left: 10px;
}

.Surrounded{
    margin-left: 50px;
}

.Recent__text{
    color: #fff;
}

.choose__bg{
    background-image: url(../images/uz.png);
    width: 131px;
    height: 35px;
    margin-top: -50px;
    margin-left: 330px;
}

.bac__img{
    margin-left: 80px;
}

.bg__word{
    margin-top: -34px;
    margin-left: 11px;
}