.images{
    display: flex;
    margin-left: 70px;
    margin-top: 120px;
}

.iq:hover{
    width: 314px;
    height: 262px;
    object-fit: cover;
    margin-top: -75px;
    left: 544.54px;
    top: 818px;
    transition: all 0.7s ease-in;
}